body{
    font-family: Roboto, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header{
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 24px;
    justify-content: space-between;
    
    
}
.header_text{
    font-weight: bold;
    padding-left: 200px;
    font-size: 24px;
}
.links{
    display: flex;
    justify-content: right;
    font-size: 18px;
    color: #E5E7EB;
    
}
ul{
    display: flex;
    gap: 8px;
    list-style-type: none;
    padding-right: 200px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: white;
  }

  .header_text, .links {
    display: flex;
    align-items: center;
    gap: 16px;
  }


  .header-content{
    display: flex;
    background-color: #1f2937;
    align-content: center;
    
    
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .header-content-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    height: 100px;
    width: 400px;
    margin-bottom: 20px;
  }

  .header-content-subtext{
    font-size: 18px;
    color: #E5E7EB;
    height: 100px;
    width: 425px;
    margin-bottom: 20px;
    
  }
.header-content-left{
    
    flex-direction: column;
    padding-left: 200px;
   
    
}

.header-content-button{
    background-color: #3882F6;
    border:none;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
}


.header-content-right{
  align-content:center;
  padding-right: 200px;
   
}
.header-content-placeholder{
    
    height: 400px;
    width: 400px;
    display: flex;
    
    float: right;
   
    
}

.main-content{
  margin-bottom: 50px;
}
.main-content-header{
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.main-content-images{
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}
.pyramid-one,.pyramid-two,.pyramid-three,.pyramid-four{
  width: 200px;
  height: 200px;
  border-radius: 8px;
  border-color: #3882F6;
  border-width: 3px;
  border-style: solid;
}

.main-content-text{
  width: 200px;
}

.quote-section{
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quote{
  font-size: 36px;
  font-style: italic;
  padding: 100px 200px 30px 200px;
}

.pharoh{
  font-weight: bold;
  text-align: right;
  padding: 0px 200px 50px;
}

.sign-up-section{

  padding: 60px 300px;

}
.container{
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  gap: 16px;

}

.container-left{
  padding: 50px 0px 50px 100px;
}

.container-right{
  padding: 50px 150px 40px 0px ;
}

.container-text-one{
  font-size: 24px;
  color: #E5E7EB;
  font-weight: bolder;
}

.container-text-two{
  font-size: 18px;
  color: #E5E7EB;
  
}

.container-text-{
  font-size: 18px;
  color: #E5E7EB;
  
}

.sign-up-button{
    background-color: #3882F6;
    border-style: solid;
    border-color:white;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
    
}

.footer{
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  padding-top:25px;
  padding-bottom: 25px;
  color: #E5E7EB;
  font-size: 12px;
}