body{
    font-family: Roboto, sans-serif;
}

.header{
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 24px;
    justify-content: space-between;
    padding: 16px;
    
}
.header_text{
    font-weight: bold;
    padding-left: 150px;
}
.links{
    display: flex;
    justify-content: right;
    font-size: 18px;
    color: #E5E7EB;
    
}
ul{
    display: flex;
    gap: 8px;
    list-style-type: none;
    padding-right: 150px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: white;
  }

  .header_text, .links {
    display: flex;
    align-items: center;
    gap: 16px;
  }


  .header-content{
    display: flex;
    background-color: #1f2937;
    align-content: center;
    gap: 16px;
    padding: 16px;
  }

  .header-content-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
  }

  .header-content-subtext{
    font-size: 18px;
    color: #E5E7EB;
    
  }
.header-content-left{
    
    flex-direction: column;
    padding-left: 150px;
    padding-right: 150px;
    
}

.header-content-button{
    background-color: #3882F6;
    border:none;
    color: white;
    padding: 8px 20px;
    border-radius: 8px;
}


.header-content-right{
    flex-direction: column;
    
   
}
.header-content-placeholder{
    background-color: gray;
    height: 400px;
    width: 400px;
    
}
